In [1]:
import numpy as np

In [2]:
data_file = '../data/results/T1/exp_imp_saves/9.npz'

In [3]:
data = np.load(data_file)

In [4]:
data.keys()

['Xnorm',
 'mean_exp_imp',
 'mtrainmat',
 'iter_num',
 'samples',
 'Y',
 'X',
 'varreachmat',
 'vartrainmat',
 'mreachmat']

In [6]:
X = data['X']
Y = data['Y']

In [7]:
import pandas as pd

In [8]:
da = pd.DataFrame(np.hstack([X,Y]), columns = ['prev', 'cur', 'y'])

In [9]:
da

        prev        cur    y
0  15.000000  20.000000  1.0
1  20.000000  27.000000  0.0
2  27.000000  22.384615  1.0
3  22.384615  17.769231  0.0
4  17.769231  21.153846  1.0
5  21.153846  23.923077  1.0
6  23.923077  24.846154  0.0
7  24.846154  23.307692  1.0
8  23.307692  15.923077  0.0
9  15.923077  19.307692  1.0

In [11]:
da.to_csv('../data/results/T1' + '/final_duels.csv')